<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Home from "@/components/Home.vue";

</script>

<template>
<!--  <header>-->
<!--    <img alt="Vue logo" class="logo" src="@/assets/logo.svg" width="125" height="125" />-->

<!--    <div class="wrapper">-->
<!--      <HelloWorld msg="You did it!" />-->

<!--      <nav>-->
<!--        <RouterLink to="/">Home</RouterLink>-->
<!--        <RouterLink to="/about">About</RouterLink>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->
  <RouterView />
</template>

<style scoped>

app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
</style>
