<script setup lang="ts">
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
import {onBeforeMount, onMounted, ref} from "vue";


const data = ref();
onBeforeMount(() =>{
  getEvents();
  setInterval(() => {
    getEvents()
  }, 5000)
})


function postEvent(event: string) {
  const requestOptions = {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      username: "user",
      animal_name: "kenau",
      event: event,
    })
  };
  fetch("/api/v1/event", requestOptions)
      .then(response => getEvents())
}

function getEvents() {
  const requestOptions = {
    method: "GET",
    headers: {
      'Content-Type': 'application/json',
    }
  };
  fetch("/api/v1/events", requestOptions)
      .then(response => response.json())
      .then(response => data.value = response)
}
</script>

<template>
  <div class="home">
    <v-table
        fixed-header
        height="85vh"
        class="table">
      <thead>
      <tr>
        <th class="text-center">
          Animal
        </th>
        <th class="text-center">
          Event
        </th>
        <th class="text-center">
          Date
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
          v-for="item in data?.events"
          :key="item.animal_name"
      >
        <td>{{ item.animal_name }}</td>
        <td>{{ item.event }}</td>
        <td>{{ item.timestamp }}</td>
      </tr>
      </tbody>
    </v-table>
    <div class="menu-bar">
      <div class="animal">
        <h1>Keanu</h1>
      </div>
      <div class="buttons">
        <v-btn class="poop" @click="postEvent('poop')">poop</v-btn>
        <v-btn class="pee" @click="postEvent('pee')">pee</v-btn>
        <v-btn class="ate" @click="postEvent('ate')">ate</v-btn>
        <v-btn class="unsure" @click="postEvent('unsure')">unsure</v-btn>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .home {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }

  .table {
    height: 85vh;
    width: 100%;
    max-height: 85vh;
    overflow: auto;
    padding: 0;
    margin: 0;
  }

  .menu-bar {
    height: 15vh;
    width: 100vw;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .menu-bar .current {
    height: 7.5vh;
    padding: 0;
    margin: 0;
  }
  .menu-bar .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 7.5vh;
  }
</style>
